* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background: beige;
}

.search-cont {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-cont .search-box {
    min-width: 450px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 28px;
    border: none;
    background: darkslategray;
    color: white;
    text-transform: capitalize;
    text-align: center;
}

.search-cont ul {
    display: flex;
    min-width: 400px;
    padding: 20px 20px;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.search-cont li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.highlight {
    background-color: #e6e90a;
    text-transform: capitalize;
    padding: 3px 0;

}