<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="navbar-section flex-item">
        <div class="logo">
            <a href="#">LOGO</a>
        </div>
        <div class="flex-item nav-search-btn-cont">
            <nav class="flex-item">
                <div class="browse-link-cont">
                    <a href="#" class="browse-link">Browse
                        <i class="fa arrow-icon fa-angle-down"></i>
                    </a>
                    <ul class="browse-dropdown-list hide">
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                    </ul>
                </div>
                <a href="#">Discover</a>
                <a href="#">Jobs</a>
                <a href="#">LiveStream</a>
                <a href="#">About</a>
            </nav>

            <div class="search-cont">
                <input type="search" name="Search" id="searchInput" placeholder="Search">
            </div>
            <div class="create-btn-cont">
                <button>Create</button>
            </div>
        </div>

        <div class="hamburger-menu">
            <span></span>
        </div>
    </section>

    <script src="index.js"></script>
</body>

</html>