* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, rgba(20, 7, 37, 0.5), rgba(43, 3, 50, 0.8));
    background-image: linear-gradient(to bottom right, rgb(44 1 52 / 62%), rgb(36 1 42 / 95%));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.main-cont {
    width: 400px;
    border: 1px solid beige;
    color: white;
    padding: 30px;

    .main-heading {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.6rem;
    }

    .get-password-cont {
        position: relative;
        margin: 20px 0;

        .generate-password-input {
            border-radius: 10px;
            background-image: linear-gradient(to top right, rgb(44 1 52 / 80%), rgb(24 1 28));
            padding: 12px 10px;
            min-width: 340px;
            color: #f9df23;
        }

        .copy-btn {
            position: absolute;
            top: 50%;
            right: 16%;
            transform: translateY(-50%);
        }
    }

    .generate-password-cont {
        background-image: linear-gradient(to top right, rgb(44 1 52 / 80%), rgb(24 1 28));
        border-radius: 10px;
        text-align: left;
        padding: 12px;

        .password-length-cont {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-heading {
                font-size: 1rem;
            }
        }

        .password-range-cont {
            padding: 12px 0;
        }
    }

    .find-strength {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;

        .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: grey;
        }
    }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: rgb(53, 2, 62);
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f9df23;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f9df23;
    cursor: pointer;
}