<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section class="accordion-wrapper">
        <div class="section-1 section">
            <div class="heading-section flex">
                <h1>Section 1</h1>
                <i class="fa fa-angle-down arrow-icon"></i>
            </div>
            <div class="section-content">
                Section 1 Content
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae esse est nostrum temporibus labore
                assumenda rem magni
                reiciendis voluptatibus eligendi ea, optio earum. Vero ipsa repellendus dolorum animi eligendi
                laboriosam.
            </div>
        </div>
        <div class="section-2 section">
            <div class="heading-section flex">
                <h1>Section 2</h1>
                <i class="fa fa-angle-down arrow-icon"></i>
            </div>
            <div class="section-content">
                Section 2 Content
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae esse est nostrum temporibus labore
                assumenda rem magni
                reiciendis voluptatibus eligendi ea, optio earum. Vero ipsa repellendus dolorum animi eligendi
                laboriosam.
            </div>
        </div>
        <div class="section-3 section">
            <div class="heading-section flex">
                <h1>Section 3</h1>
                <i class="fa fa-angle-down arrow-icon"></i>
            </div>
            <div class="section-content">
                Section 3 Content
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae esse est nostrum temporibus labore
                assumenda rem magni
                reiciendis voluptatibus eligendi ea, optio earum. Vero ipsa repellendus dolorum animi eligendi
                laboriosam.
            </div>
        </div>
    </section>
    <script src="index.js"></script>
</body>

</html>